
clearfix()
	zoom 1

	&:before, &:after
		content ''
		display table

	&:after
		clear both


grid-column(span, cols = 12)
	width (span * 100 / cols)%


grid-system(cols = 12, gutter = 20px, child = '.col', all-columns = true, separate = '-', breakpoint = 400px)
	margin-bottom gutter

	all = ''

	margin-left (gutter / -2)
	margin-right @margin-left
	clearfix()

	if all-columns
		all = '& ' + child + separate + '1'

		for x in (2 .. (cols - 1))
			all = all + ', & ' + child + separate + x

		for x in (1 .. cols)
			{child + separate + x}
				grid-column(x, cols)

	else
		all = child

		{all}
			grid-column(1, cols)

	{all}
		float left
		padding 0 (gutter / 2)
		box-sizing border-box
		min-height 1px

	mediaQuery = 'screen and (max-width: ' + breakpoint + ')'

	@media mediaQuery

		margin 0

		{all}
			float none
			width auto
			display block
			margin-bottom gutter
