@import url("http://fonts.googleapis.com/css?family=Nixie+One");
body {
  background: #382f3d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nixie One', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #9e8da8;
  margin-top: 0;
}
h1 {
  font-size: 40px;
  padding-bottom: 25px;
  margin-top: 20px;
  border-bottom: 1px solid #4d4054;
  color: #ece8ee;
}
h3 {
  text-align: left;
  font-weigh: bold;
}
pre {
  background: #181818;
  display: block;
  padding: 10px 15px;
  margin-bottom: 20px;
  color: #999;
  border-radius: 3px;
}
pre code {
  margin: 0;
}
.page {
  max-width: 940px;
  margin: auto;
}
.row-12 {
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
  zoom: 1;
}
.row-12:before,
.row-12:after {
  content: '';
  display: table;
}
.row-12:after {
  clear: both;
}
.row-12 .col-1 {
  width: 8.333333333333334%;
}
.row-12 .col-2 {
  width: 16.666666666666668%;
}
.row-12 .col-3 {
  width: 25%;
}
.row-12 .col-4 {
  width: 33.333333333333336%;
}
.row-12 .col-5 {
  width: 41.666666666666664%;
}
.row-12 .col-6 {
  width: 50%;
}
.row-12 .col-7 {
  width: 58.333333333333336%;
}
.row-12 .col-8 {
  width: 66.66666666666667%;
}
.row-12 .col-9 {
  width: 75%;
}
.row-12 .col-10 {
  width: 83.33333333333333%;
}
.row-12 .col-11 {
  width: 91.66666666666667%;
}
.row-12 .col-12 {
  width: 100%;
}
.row-12 .col-1,
.row-12 .col-2,
.row-12 .col-3,
.row-12 .col-4,
.row-12 .col-5,
.row-12 .col-6,
.row-12 .col-7,
.row-12 .col-8,
.row-12 .col-9,
.row-12 .col-10,
.row-12 .col-11 {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  min-height: 1px;
}
@media screen and (max-width: 400px) {
  .row-12 {
    margin: 0;
  }
  .row-12 .col-1,
  .row-12 .col-2,
  .row-12 .col-3,
  .row-12 .col-4,
  .row-12 .col-5,
  .row-12 .col-6,
  .row-12 .col-7,
  .row-12 .col-8,
  .row-12 .col-9,
  .row-12 .col-10,
  .row-12 .col-11 {
    float: none;
    width: auto;
    display: block;
    margin-bottom: 20px;
  }
}
.row-10 {
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
  zoom: 1;
}
.row-10:before,
.row-10:after {
  content: '';
  display: table;
}
.row-10:after {
  clear: both;
}
.row-10 .col-1 {
  width: 10%;
}
.row-10 .col-2 {
  width: 20%;
}
.row-10 .col-3 {
  width: 30%;
}
.row-10 .col-4 {
  width: 40%;
}
.row-10 .col-5 {
  width: 50%;
}
.row-10 .col-6 {
  width: 60%;
}
.row-10 .col-7 {
  width: 70%;
}
.row-10 .col-8 {
  width: 80%;
}
.row-10 .col-9 {
  width: 90%;
}
.row-10 .col-10 {
  width: 100%;
}
.row-10 .col-1,
.row-10 .col-2,
.row-10 .col-3,
.row-10 .col-4,
.row-10 .col-5,
.row-10 .col-6,
.row-10 .col-7,
.row-10 .col-8,
.row-10 .col-9 {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  min-height: 1px;
}
@media screen and (max-width: 400px) {
  .row-10 {
    margin: 0;
  }
  .row-10 .col-1,
  .row-10 .col-2,
  .row-10 .col-3,
  .row-10 .col-4,
  .row-10 .col-5,
  .row-10 .col-6,
  .row-10 .col-7,
  .row-10 .col-8,
  .row-10 .col-9 {
    float: none;
    width: auto;
    display: block;
    margin-bottom: 20px;
  }
}
.split {
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
  zoom: 1;
}
.split:before,
.split:after {
  content: '';
  display: table;
}
.split:after {
  clear: both;
}
.split .half {
  width: 50%;
}
.split .half {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
  min-height: 1px;
}
@media screen and (max-width: 400px) {
  .split {
    margin: 0;
  }
  .split .half {
    float: none;
    width: auto;
    display: block;
    margin-bottom: 30px;
  }
}
.split-3 {
  margin-bottom: 10px;
  margin-left: -5px;
  margin-right: -5px;
  zoom: 1;
}
.split-3:before,
.split-3:after {
  content: '';
  display: table;
}
.split-3:after {
  clear: both;
}
.split-3 .thirds.thirds-1 {
  width: 33.333333333333336%;
}
.split-3 .thirds.thirds-2 {
  width: 66.66666666666667%;
}
.split-3 .thirds.thirds-3 {
  width: 100%;
}
.split-3 .thirds.thirds-1,
.split-3 .thirds.thirds-2 {
  float: left;
  padding: 0 5px;
  box-sizing: border-box;
  min-height: 1px;
}
@media screen and (max-width: 400px) {
  .split-3 {
    margin: 0;
  }
  .split-3 .thirds.thirds-1,
  .split-3 .thirds.thirds-2 {
    float: none;
    width: auto;
    display: block;
    margin-bottom: 10px;
  }
}
.col-test {
  width: 25%;
}
.box {
  background: #201b23;
  height: 60px;
  border-radius: 3px;
  line-height: 60px;
  text-align: center;
  font-family: Monaco, monospace;
  color: #52455a;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
